* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white; 
}

.nav-logo {
    height: 50px;
    width: 100px;
    border: solid 1.5px black;

}

.logo {
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border:hover {
    border: 1.5px solid white;
}